<%= form_for @listing, url: user_listings_path(current_user), html: { multipart: true, class: "form-horizontal" } do |f| %>
	<%= render partial: '/listings/form', locals: {f: f} %>

	<div>
		<%= f.submit %>
	</div>
<% end %>