<div class="col-md-10 col-md-offset-1">
	<% if @reservations.any? %>
		<table class="table">
			<tr>
				<th>Property</th>
				<th>Check-in date</th>
				<th>Check-out date</th>
				<th>Booking status</th>
			</tr>
			<%= render partial: '/reservations/list' %>
		</table>
	<% else %>
		<h3>You have no reservations</h3>
	<% end %>
</div>