<div class="col-lg-6 col-lg-offset-3">
	<h2 class="text-center">Welcome to Pair bnb</h2>
	<% if signed_in? %>
		<h4 class="text-center">Search our listings</h4>
	<% end %>
</div>

<% if signed_in? %>
	<%= render partial: '/static/search_form' %>
<% end %>