// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing-form-box {
	padding: 30px;
}

.listing-card {
	border: 1px solid #ABABAB;
	border-radius: 4px;
	margin-top: 1.5em;
	padding: 0.5em 3em 1.5em 2em;
	display: flex;
	jusify-content: center;
	align-items: center;
	position: relative;
}

.listing-index-img {
	display: inline-block;
	float: left;
}

.listing-index-text {
	display: inline-block;
	margin-left: 5%;
}

.book-btn {
	position: absolute;
	right: 30px;
	bottom: 15px;
}